<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | eCloud </title>
		{% block stylesheets %}{% endblock %}
		{% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/usuario/images/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
