{% extends '::frontend.html.twig' %}
{% block title %}Eventos {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
	
	
	
	
		
	<script type="text/javascript">
		//Esto mas tarde estará en un fichero Javascript General que detecte la URL y ejecute funciones en base a ello.
  String.prototype.transformaCaracteresEspeciales = function() {
    return unescape(escape(this).
                      replace(/%0A/g, '<br/>').
                      replace(/%3C/g, '&lt;').
                      replace(/%3E/g, '&gt;'));
  }
  
 
    // Cargar JSON según URL
    switch (location.pathname){
	
	case "/eventos":
	cargarContenido('GET','api/eventos?nocache='+Math.random(), muestraEventos);
	break;
	case "/app_dev.php/eventos":
	cargarContenido('GET','api/eventos?nocache='+Math.random(), muestraEventos);
	break;
	case "/app.php/eventos":
	cargarContenido('GET','api/eventos?nocache='+Math.random(), muestraEventos);
	break;
  }
  
  function cargarContenido(metodo,url,funcion) {
  
    // Instanciar objeto XMLHttpRequest
    if(window.XMLHttpRequest) {
      peticion = new XMLHttpRequest();
    }
    else {
      peticion = new ActiveXObject("Microsoft.XMLHTTP");
    }
    
    // Preparar función de respuesta
	//if(contenedor==''){peticion.onreadystatechange = funcion;}else{peticion.onreadystatechange = funcion(contenedor);}
	peticion.onreadystatechange = funcion;
    // Realizar petición
    peticion.open(metodo, url, true);
    peticion.send(null);
  }
  
  
  // Función de respuesta
  function muestraEventos() {
    if(peticion.readyState == 4) {
	 
      if(peticion.status == 200) {
	 
		// Borrar datos anteriores
		//limpia(contenedor);
	  
        div = document.getElementById('tabla');
        		
		//JSON
		var arr = eval ("(" + peticion.responseText+ ")"); 
		
		
		// Formatear JSON en una tabla
		var tabla;
		var cab = "<tr>";
		var cuerpo = "";
		var color="";
		var idfichero="";
		for(var i=0;i<arr.length;i++){
			var obj = arr[i];
			cuerpo = cuerpo + "<tr>";
			for(var key in obj){
				//Para saltar campos
				//alert(key);
				if(key=="accion" || key=="fecha"){
				
					var attrName = key;
					var attrValue = obj[key];
					if(attrName=="accion"){

						if(attrValue.match(/^Has subido el fichero/)!=null){
							//Has subido...
							color="#B5FFB5";
							attrValue="Has subido el fichero <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a>";
							
						}
						else if(attrValue.match(/^Has creado la carpeta/)!=null){
							//Has creado la carpeta...
							color="#B5FFB5";
							attrValue="Has creado la carpeta <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a> en "+obj['ruta'];
						}
						else if(attrValue.match(/^Has borrado el fichero/)!=null){
							//Has borrado... 
							color="#FFB5B5";
							}
						else if(attrValue.match(/^Has borrado la carpeta/)!=null){
							//Has borrado... //Procesar accion para sacar el idfichero del fichero borrado
							color="#FFB5B5";
							}
						else if(attrValue.match(/^Has cambiado el nombre al fichero /)!=null){
							//Has cambiado el nombre al fichero...
							color="#FFFF00";				
							attrValue="Has cambiado el nombre al fichero "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a>";
						}
						else if(attrValue.match(/^Has cambiado el nombre a la carpeta /)!=null){
							//Has cambiado el nombre a la carpeta...
							color="#FFFF00";									
							attrValue="Has cambiado el nombre a la carpeta "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a>";
						}
						else if(attrValue.match(/^Has movido el fichero /)!=null){
							//Has cambiado el nombre al fichero...
							color="#FFFF00";				
							attrValue="Has movido el fichero "+obj['nombreFicheroNuevo']+" a "+obj['ruta'];
						}
						else if(attrValue.match(/^Has movido la carpeta /)!=null){
							//Has cambiado el nombre a la carpeta...
							color="#FFFF00";									
							attrValue="Has movido la carpeta "+obj['nombreFicheroNuevo']+" a "+obj['ruta'];
						}
						else if(attrValue=="&iexcl;Te has registrado!"){color="#95FF95";}
						else {color="";}
						
						cuerpo = cuerpo + "<td style='background-color:"+color+";' > "+attrValue+"</td>";
						idFichero="";
					}
					else if(attrName=="fecha"){
						var date = new Date(attrValue['timestamp']*1000);
						var _mes=date.getMonth()+1; //getMonth devuelve el mes empezando por 0
						var _dia=date.getDate(); //getDate devuelve el dia del mes
						var _anyo=date.getFullYear();
						cuerpo = cuerpo + "<td style='text-align:right;background-color:"+color+";'>" + _dia+"/"+_mes+"/"+_anyo + " "+addZeroo(date.getHours())+":"+addZeroo(date.getMinutes())+"</td>";
					}
					else if(attrValue==null){cuerpo = cuerpo +"<td></td>";}
					else{cuerpo = cuerpo + "<td>" + attrValue + "</td>";
					}
					
					//if (i==0){
					//Guarda cabeceras de la tabla
					//cab = cab + "<th>" + attrName + "</th>";
					//}
				}
			}
			cuerpo = cuerpo + "</tr>";
		}
		cab="<tr><th style='width:87%;'>Acci&oacuten</th><th> </th>";
		tabla = "<table>" + cab + "</tr>" + cuerpo + "</table>";
		div.innerHTML = tabla;
		
		peticion="";
		tooltipear();
      }
    }
	
  }
  
  //Sin terminar, es la plantilla para crear tablas.
  function muestraFicheros() {
    if(peticion.readyState == 4) {
	 
      if(peticion.status == 200) {
	 
		// Borrar datos anteriores
		//limpia(contenedor);
	  
        div = document.getElementById('tabla');
        		
		//JSON
		var arr = eval ("(" + peticion.responseText+ ")"); 
		
		
		// Formatear JSON en una tabla
		var tabla;
		var cab = "<tr>";
		var cuerpo = "";
	
		for(var i=0;i<arr.length;i++){
			var obj = arr[i];
			cuerpo = cuerpo + "<tr>";
			for(var key in obj){
				//Para saltar campos
				//alert(key);
				if(key=="accion" || key=="fecha"){
				
					var attrName = key;
					var attrValue = obj[key];
					cuerpo = cuerpo + "<td>" + attrValue + "</td>";
					if (i==0){
					//Guarda cabeceras de la tabla
					cab = cab + "<th>" + attrName + "</th>";
					}
				}
			}
			cuerpo = cuerpo + "</tr>";
		}
		tabla = "<table>" + cab + "</tr>" + cuerpo + "</table>";
		div.innerHTML = tabla;
		
		
      }
    }
	
  }
    
	function oculta(id){
	  document.getElementById(id).style.display="none";
	}
	  
	  
	function limpia(id) {
	  document.getElementById(id).innerHTML = "";
	}

	
	function tooltipear(){
	
		$('a[idfile]').qtip({
			style: {
				classes: 'qtip-tipsy qtip-shadow'
			},
			content: {
				text: function(event, api) {
					$.ajax({
						url: 'api/fichero/'+$(this).attr('idfile'), // URL to the JSON file
						type: 'GET', // POST or GET
						dataType: 'json', // Tell it we're retrieving JSON
						data: {},
					})
					.then(function(data) {
						/* Process the retrieved JSON object
						 *    Retrieve a specific attribute from our parsed
						 *    JSON string and set the tooltip content.
						 */
						 //Modificar para que el caso de que sea carpeta solo mostrar nombre y ruta.
						if(data[0].tipo=="fichero"){
						var content = 'Fichero '+ data[0].nombreFichero+"<br> Tama&ntilde;o: "+ data[0].filesize+" bytes";
						}else{
						var content = 'Carpeta '+ data[0].nombreFichero+"<br> Ruta: "+ data[0].ruta;
						}

						// Now we set the content manually (required!)
						api.set('content.text', content);
					}, function(xhr, status, error) {
						// Upon failure... set the tooltip content to the status and error value
						//api.set('content.text', status + ': ' + error);
						api.set('content.text', 'Fichero no encontrado');
					});

					return 'Cargando...' // Set some initial loading text
				}
			}
		});
		
		
		
	}

	/* Metodo 2 
	
		$('a').each(function() {
 
			//var fichero = $(this).find("input[name=link]").val();
			//var imdbLink = { "link" : link };
		
		
			$(this).qtip({
				content: {
					text: 'Loading...', // Loading text...
					ajax: {
						url: 'api/fichero/'+$(this).attr('idfile'), // URL to the JSON script
						type: 'GET', // POST or GET
						data: { }, // Data to pass along with your request
						dataType: 'json', // Tell it we're retrieving JSON
						success: function(data, status) {
							
							var content = 'Fichero '+ data[0].nombreFichero+"<br> Tama&ntilde;o: "+ data[0].filesize+" bytes";

							// Now we set the content manually (required!)
							this.set('content.text', content);
						}
					}
				}
			});
		
		})
	*/
	
	function addZeroo(num){
		if (num<10){
			num="0"+num;
		}
		return num;
	}
	
	
	</script>
	
	<div class="tabla" id="tabla">
	
	</div>
	

</section>
	
{% endblock %}