{% extends '::frontend.html.twig' %}
{% block title %}Eventos {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
	
	
	
	
		
	<script type="text/javascript">
		//Esto mas tarde estará en un fichero Javascript General que detecte la URL y ejecute funciones en base a ello.
  String.prototype.transformaCaracteresEspeciales = function() {
    return unescape(escape(this).
                      replace(/%0A/g, '<br/>').
                      replace(/%3C/g, '&lt;').
                      replace(/%3E/g, '&gt;'));
  }
  
	//AL cargar la página
	$( document ).ready(function() {
		dibujarTabla();
		if (location.pathname.match(/eventos$/)!=null){
			
			//Convertir "/" a "-".
			/* Utilizando el objeto date de jquery.
			var desde_date=$( "#desde" ).datepicker( "getDate" );
			var _mes=desde_date.getMonth()+1; //getMonth devuelve el mes empezando por 0
			var _dia=desde_date.getDate(); //getDate devuelve el dia del mes
			var _anyo=desde_date.getFullYear();
			desde=_dia+"-"+_mes+"-"+_anyo;
			*/
			
			//La opcion cutre para sacar las fechas en el formato correcto
			desde = document.getElementById('desde').value.replace("/","-"); desde = desde.replace("/","-"); 
			hasta = document.getElementById('hasta').value.replace("/","-"); hasta = hasta.replace("/","-"); 
			
			//Cargar contenido
			cargarContenido('GET','api/eventos/desde='+desde+'&hasta='+hasta+'&start=0&cantidad='+document.getElementById('cantidad').value+'&nocache='+Math.random(), agregarEventos);
		}					
	});
	
	function recargarContenido(){
		
		//$("#tabla").html("");
		//dibujarTabla();
		vaciarTabla();
		
		//La opcion cutre para sacar las fechas en el formato correcto
		desde = document.getElementById('desde').value.replace("/","-"); desde = desde.replace("/","-"); 
		hasta = document.getElementById('hasta').value.replace("/","-"); hasta = hasta.replace("/","-"); 
		
		//Cargar contenido
		cargarContenido('GET','api/eventos/desde='+desde+'&hasta='+hasta+'&start=0&cantidad='+document.getElementById('cantidad').value+'&nocache='+Math.random(), agregarEventos);
	
	}
	
	function vaciarTabla(){
		mydiv = document.getElementById('cuerpo');
		while ( mydiv.firstChild ) mydiv.removeChild( mydiv.firstChild );
	
	}
	
	
	
	function cargarEventos(desde,hasta,start,cantidad){
		//Falta: comprobaciones y tal.
		desde2=desde[0]+desde[1]+"-"+desde[3]+desde[4]+"-"+desde[6]+desde[7]+desde[8]+desde[9];
		hasta2=hasta[0]+hasta[1]+"-"+hasta[3]+hasta[4]+"-"+hasta[6]+hasta[7]+hasta[8]+hasta[9];
		cargarContenido('GET','api/eventos/desde='+desde2+'&hasta='+hasta2+'&start='+start+'&cantidad='+cantidad+'&nocache='+Math.random(), agregarEventos);
		
		document.getElementById('desde').value=desde;		
		document.getElementById('hasta').value=hasta;		
		
		//document.getElementById('start').value=parseInt(start)+parseInt(cantidad);
		document.getElementById('cantidadAnterior').value=cantidad;
	}
	
	
	
	
  
	function cargarContenido(metodo,url,funcion) {
  
		// Instanciar objeto XMLHttpRequest
		if(window.XMLHttpRequest) {
		  peticion = new XMLHttpRequest();
		}
		else {
		  peticion = new ActiveXObject("Microsoft.XMLHTTP");
		}
		
		// Preparar función de respuesta
		//if(contenedor==''){peticion.onreadystatechange = funcion;}else{peticion.onreadystatechange = funcion(contenedor);}
		peticion.onreadystatechange = funcion;
		// Realizar petición
		peticion.open(metodo, url, true);
		peticion.send(null);
  }
	
	function resetStart(){
		document.getElementById('start').value='0';
	}
  
	function dibujarTabla(){
		div = document.getElementById('tabla');
  
		var tabla;		
		var caption = "<caption>{{ app.user.nombreusuario }} <div style='float:right;font-weight:normal;font-size: 0.8em' id='opcionesTabla'> <input id='cantidadAnterior' type='hidden' value='20'><input id='start' type='hidden' value='0'> Mostrar <input id='cantidad' type='text' onchange='createCookie(\"mostrar\",this.value,14);recargarContenido();resetStart();' value='20' size='2' maxlength='3'> Desde: <input type='text' id='desde' onchange='recargarContenido();resetStart();' maxlength='10' size='10' > Hasta: <input type='text'  onchange='recargarContenido();resetStart();' id='hasta' maxlength='10' size='10' > </caption>";
		var cab="";//var cab="<tr><th style='width:87%;'>Acci&oacuten</th><th> </th></tr>";
		var cuerpo = "<tbody id='cuerpo'></tbody>";
		tabla = "<table id='tabla1'>"+ caption + cab + cuerpo + "</table>";
		tabla += "<br><div id='mostrarMas' > <div id='mostrarMas1' style='margin-left:auto;margin-right:auto;width:7em;'>";
		tabla += "<a href='#' onclick=\"cargarEventos(document.getElementById('desde').value,document.getElementById('hasta').value,document.getElementById('start').value,document.getElementById('cantidad').value)\"> Mostrar mas</a>";
		tabla += "</div><br><br></div>";
		div.innerHTML = tabla;
		
		//Falta: Comprobar primero si tal cookie existe.
		document.getElementById('cantidad').value=readCookie('mostrar');
		//document.getElementById('start').value=readCookie('mostrar');
		$( "#desde" ).datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", "-3m");;		
		$( "#hasta" ).datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date());
		$( "#mostrarMas").css("width", $( "#tabla1").width()-$("#mostrarMas1").width()); 
		
		//tooltipear();
		
    }
	

	function agregarEventos(){
		
		if(peticion.readyState == 4) {
		 
		  if(peticion.status == 200) {
		 
			// Borrar datos anteriores
			//limpia(contenedor);
		  
			div = document.getElementById('tabla');
			
			//JSON
			var arr = eval ("(" + peticion.responseText+ ")"); 
			
			var cuerpo = "";
			var color="";
			var idfichero="";
			for(var i=0;i<arr.length;i++){
				var obj = arr[i];
				cuerpo = cuerpo + "<tr>";
				for(var key in obj){
					//Para saltar campos
					//alert(key);
					if(key=="tipo" || key=="fecha"){
					
						var attrName = key;
						var attrValue = obj[key];
						
						if(attrName=="tipo"){
						var texto="";
							if(attrValue=="10" ){
								//Has subido fichero...
								color="#B5FFB5";
								texto="Has subido el fichero <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a>";
								
							}
							else if(attrValue=="11"){
								//Has creado la carpeta...
								color="#B5FFB5";
								texto="Has creado la carpeta <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a> en "+obj['ruta'];
							}
							else if(attrValue=="20"){
								//Has cambiado el nombre al fichero...
								color="#FFFF00";				
								texto="Has cambiado el nombre al fichero "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a>";
							}
							else if(attrValue=="21"){
								//Has cambiado el nombre a la carpeta...
								color="#FFFF00";									
								texto="Has cambiado el nombre a la carpeta "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a>";
							}
							else if(attrValue=="30"){
								//Has movido el fichero...
								color="#FFFF00";				
								texto="Has movido el fichero "+obj['nombreFicheroNuevo']+" a "+obj['ruta'];
							}
							else if(attrValue=="31"){
								//Has movido la carpeta...
								color="#FFFF00";									
								texto="Has movido la carpeta "+obj['nombreFicheroNuevo']+" a "+obj['ruta'];
							}
							else if(attrValue=="40"){
								//Has cambiado el fichero...y lo has movido a...
								color="#FFFF00";				
								texto="Has cambiado el nombre al fichero "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+"</a> y lo has movido a "+obj['ruta']+"";
							}
							else if(attrValue=="41"){
								//Has cambiado el nombre a la carpeta...y lo has movido a...
								color="#FFFF00";									
								texto="Has cambiado el nombre a la carpeta "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+"</a> y lo has movido a "+obj['ruta']+"";
							}
							else if(attrValue=="50"){
								//Has borrado fichero... 
								color="#FFB5B5";
								texto="Has borrado el fichero "+obj['nombreFicheroNuevo']+" de "+obj['ruta'];
							}
							else if(attrValue=="51"){
								//Has borrado carpeta...
								color="#FFB5B5";
								texto="Has borrado la carpeta "+obj['nombreFicheroNuevo']+" de "+obj['ruta'];
							}
							else if(attrValue=="0"){texto="Te has registrado!";color="#95FF95";}
							else {color="";}
							
							cuerpo = cuerpo + "<td style='width:87%;background-color:"+color+";' > "+texto+"</td>";
							idFichero="";
						}
						else if(attrName=="fecha"){
							var f1=attrValue['timestamp']*1000;
							var date = new Date(f1+attrValue['offset']*1000);
							var date = new Date(f1);
							var _mes=date.getMonth()+1; //getMonth devuelve el mes empezando por 0
							var _dia=date.getDate(); //getDate devuelve el dia del mes
							var _anyo=date.getFullYear();
							cuerpo = cuerpo + "<td style='text-align:right;background-color:"+color+";'>" + _dia+"/"+addZeroo(_mes)+"/"+_anyo + " "+addZeroo(date.getHours())+":"+addZeroo(date.getMinutes())+"</td>";
						}
						else if(attrName==null){cuerpo = cuerpo +"<td></td>";}
						else{cuerpo = cuerpo + "<td>" + attrValue + "</td>";
						}
					}
				}
				cuerpo = cuerpo + "</tr>";
			}
				
			//Agregar datos a la tabla
			//$("#tabla1:last-child").html();
			//$("#tabla1").append(cuerpo);
			document.getElementById("cuerpo").innerHTML+=cuerpo;
			document.getElementById('start').value=parseInt(document.getElementById('start').value)+parseInt(document.getElementById('cantidad').value);// Falta comprobacion de si se ha respondido correctamente.
			tooltipear();
			}
		}
		
	}
 
  
  // Función de respuesta antigua, no se usa.
  /*
  function muestraEventos() {
    if(peticion.readyState == 4) {
	 
      if(peticion.status == 200) {
	 
		// Borrar datos anteriores
		//limpia(contenedor);
	  
        div = document.getElementById('tabla');
        		
		//JSON
		var arr = eval ("(" + peticion.responseText+ ")"); 
		
		
		// Formatear JSON en una tabla
		var tabla; 
		var caption = "<caption>{{ app.user.nombreusuario }} <div style='float:right;font-weight:normal;font-size: 0.8em' id='opcionesTabla'><input id='cantidadAnterior' type='hidden' value='20'><input id='start' type='hidden' value='20'> Mostrar <input id='cantidad' type='text' value='20' size='2' maxlength='3'> Desde: <input type='text' id='desde' maxlength='10' size='10' > Hasta: <input type='text' id='hasta' maxlength='10' size='10' > </caption>";
		var cab = "<tr>";
		var cuerpo = "";
		var color="";
		var idfichero="";
		for(var i=0;i<arr.length;i++){
			var obj = arr[i];
			cuerpo = cuerpo + "<tr>";
			for(var key in obj){
				//Para saltar campos
				//alert(key);
				if(key=="tipo" || key=="fecha"){
				
					var attrName = key;
					var attrValue = obj[key];
					
					if(attrName=="tipo"){
					var texto="";
						if(attrValue=="10" ){
							//Has subido fichero...
							color="#B5FFB5";
							texto="Has subido el fichero <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a>";
							
						}
						else if(attrValue=="11"){
							//Has creado la carpeta...
							color="#B5FFB5";
							texto="Has creado la carpeta <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a> en "+obj['ruta'];
						}
						else if(attrValue=="20"){
							//Has cambiado el nombre al fichero...
							color="#FFFF00";				
							texto="Has cambiado el nombre al fichero "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a>";
						}
						else if(attrValue=="21"){
							//Has cambiado el nombre a la carpeta...
							color="#FFFF00";									
							texto="Has cambiado el nombre a la carpeta "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+" </a>";
						}
						else if(attrValue=="30"){
							//Has movido el fichero...
							color="#FFFF00";				
							texto="Has movido el fichero "+obj['nombreFicheroNuevo']+" a "+obj['ruta'];
						}
						else if(attrValue=="31"){
							//Has movido la carpeta...
							color="#FFFF00";									
							texto="Has movido la carpeta "+obj['nombreFicheroNuevo']+" a "+obj['ruta'];
						}
						else if(attrValue=="40"){
							//Has cambiado el fichero...y lo has movido a...
							color="#FFFF00";				
							texto="Has cambiado el nombre al fichero "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+"</a> y lo has movido a "+obj['ruta']+"";
						}
						else if(attrValue=="41"){
							//Has cambiado el nombre a la carpeta...y lo has movido a...
							color="#FFFF00";									
							texto="Has cambiado el nombre a la carpeta "+obj['nombreFicheroAntiguo']+" por <a idfile='"+obj['idFichero']+"' href='fichero/"+obj['idFichero']+"'>"+obj['nombreFicheroNuevo']+"</a> y lo has movido a "+obj['ruta']+"";
						}
						else if(attrValue=="50"){
							//Has borrado fichero... 
							color="#FFB5B5";
							texto="Has borrado el fichero "+obj['nombreFicheroNuevo']+" de "+obj['ruta'];
						}
						else if(attrValue=="51"){
							//Has borrado carpeta...
							color="#FFB5B5";
							texto="Has borrado la carpeta "+obj['nombreFicheroNuevo']+" de "+obj['ruta'];
						}
						else if(attrValue=="0"){texto="Te has registrado!";color="#95FF95";}
						else {color="";}
						
						cuerpo = cuerpo + "<td style='background-color:"+color+";' > "+texto+"</td>";
						idFichero="";
					}
					else if(attrName=="fecha"){
						var date = new Date(attrValue['timestamp']*1000);
						var _mes=date.getMonth()+1; //getMonth devuelve el mes empezando por 0
						var _dia=date.getDate(); //getDate devuelve el dia del mes
						var _anyo=date.getFullYear();
						cuerpo = cuerpo + "<td style='text-align:right;background-color:"+color+";'>" + _dia+"/"+_mes+"/"+_anyo + " "+addZeroo(date.getHours())+":"+addZeroo(date.getMinutes())+"</td>";
					}
					else if(attrName==null){cuerpo = cuerpo +"<td></td>";}
					else{cuerpo = cuerpo + "<td>" + attrValue + "</td>";
					}
					
					//if (i==0){
					//Guarda cabeceras de la tabla
					//cab = cab + "<th>" + attrName + "</th>";
					//}
				}
			}
			cuerpo = cuerpo + "</tr>";
		}
		cab="<tr><th style='width:87%;'>Acci&oacuten</th><th> </th>";
		tabla = "<table id='tabla1'>"+ caption + cab + "</tr>" + cuerpo + "</table>";
		tabla += "<br><div id='mostrarMas' > <div id='mostrarMas1' style='margin-left:auto;margin-right:auto;width:7em;'>";
		tabla += "<a href='#' onclick=\"cargarEventos(document.getElementById('desde').value,document.getElementById('hasta').value,document.getElementById('start').value,document.getElementById('cantidad').value)\"> Mostrar mas</a>";
		tabla += "</div><br><br></div>";
		div.innerHTML = tabla;
		peticion="";
		
		$( "#desde" ).datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", "-3m");;		
		$( "#hasta" ).datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date());
		$( "#mostrarMas").css("width", $( "#tabla1").width()-$("#mostrarMas1").width()); 
		
		tooltipear();
		
      }
    }
	
  }
	*/
  
  
  
  
  //Sin terminar, es la plantilla para crear tablas.
  /*
  function muestraFicheros() {
    if(peticion.readyState == 4) {
	 
      if(peticion.status == 200) {
	 
		// Borrar datos anteriores
		//limpia(contenedor);
	  
        div = document.getElementById('tabla');
        		
		//JSON
		var arr = eval ("(" + peticion.responseText+ ")"); 
		
		
		// Formatear JSON en una tabla
		var tabla;
		var cab = "<tr>";
		var cuerpo = "";
	
		for(var i=0;i<arr.length;i++){
			var obj = arr[i];
			cuerpo = cuerpo + "<tr>";
			for(var key in obj){
				//Para saltar campos
				//alert(key);
				if(key=="accion" || key=="fecha"){
				
					var attrName = key;
					var attrValue = obj[key];
					cuerpo = cuerpo + "<td>" + attrValue + "</td>";
					if (i==0){
					//Guarda cabeceras de la tabla
					cab = cab + "<th>" + attrName + "</th>";
					}
				}
			}
			cuerpo = cuerpo + "</tr>";
		}
		tabla = "<table>" + cab + "</tr>" + cuerpo + "</table>";
		div.innerHTML = tabla;
		
		
      }
    }
	
  }
    */
	function oculta(id){
	  document.getElementById(id).style.display="none";
	}
	  
	function limpia(id) {
	  document.getElementById(id).innerHTML = "";
	}

	
	function tooltipear(){
	
		$('a[idfile]').qtip({
			style: {
				classes: 'qtip-tipsy qtip-shadow'
			},
			content: {
				text: function(event, api) {
					$.ajax({
						url: 'api/fichero/'+$(this).attr('idfile'), // URL to the JSON file
						type: 'GET', // POST or GET
						dataType: 'json', // Tell it we're retrieving JSON
						data: {},
					})
					.then(function(data) {
						/* Process the retrieved JSON object
						 *    Retrieve a specific attribute from our parsed
						 *    JSON string and set the tooltip content.
						 */
						 //Modificar para que el caso de que sea carpeta solo mostrar nombre y ruta.
						if(data[0].tipo=="fichero"){
						var content = 'Fichero '+ data[0].nombreFichero+"<br> Tama&ntilde;o: "+ data[0].filesize+" bytes";
						}else{
						var content = 'Carpeta '+ data[0].nombreFichero+"<br> Ruta: "+ data[0].ruta;
						}

						// Now we set the content manually (required!)
						api.set('content.text', content);
					}, function(xhr, status, error) {
						// Upon failure... set the tooltip content to the status and error value
						//api.set('content.text', status + ': ' + error);
						api.set('content.text', 'Fichero no encontrado');
					});

					return 'Cargando...' // Set some initial loading text
				}
			}
		});
		
		
		
	}

	/* Metodo 2 
	
		$('a').each(function() {
 
			//var fichero = $(this).find("input[name=link]").val();
			//var imdbLink = { "link" : link };
		
		
			$(this).qtip({
				content: {
					text: 'Loading...', // Loading text...
					ajax: {
						url: 'api/fichero/'+$(this).attr('idfile'), // URL to the JSON script
						type: 'GET', // POST or GET
						data: { }, // Data to pass along with your request
						dataType: 'json', // Tell it we're retrieving JSON
						success: function(data, status) {
							
							var content = 'Fichero '+ data[0].nombreFichero+"<br> Tama&ntilde;o: "+ data[0].filesize+" bytes";

							// Now we set the content manually (required!)
							this.set('content.text', content);
						}
					}
				}
			});
		
		})
	*/
	
	function createCookie(name, value, days) {
		var expires;

		if (days) {
			var date = new Date();
			date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
			expires = "; expires=" + date.toGMTString();
		} else {
			expires = "";
		}
		document.cookie = escape(name) + "=" + escape(value) + expires + "; path=/";
		}

	function readCookie(name) {
		var nameEQ = escape(name) + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) === ' ') c = c.substring(1, c.length);
			if (c.indexOf(nameEQ) === 0) return unescape(c.substring(nameEQ.length, c.length));
		}
		return null;
	}

	function eraseCookie(name) {
		createCookie(name, "", -1);
	}
	
	
	function addZeroo(num){
		if (num<10){
			num="0"+num;
		}
		return num;
	}
	
</script>
	
	
	<div class="tabla" id="tabla">
	
	</div>
	

</section>
	
{% endblock %}