{% extends '::frontend.html.twig' %}
{% block title %}Eventos {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>

	<div id="itsthetable">
	<table><caption></caption>
	<thead><tr><th style='width:80%;'>Acci&oacute;n</th><th>Fecha</th></tr></thead>
	<tfoot><tr><th>Total</th><td colspan="4">0 eventos</td></tr></tfoot>
	<tbody>
		<tr><th>qqqq</th><td>qwqw</td></tr>
		<tr class="odd"><th>llll</th><td>llllll</td></tr>
	</tbody>
	</table>
	</div>	

</section>
{% endblock %}