{% extends '::frontend.html.twig' %}
{% block title %}Ficheros {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
	<div id="itsthetable">
	<table><caption>{{ app.user.nombreusuario }}/</caption>
	<thead><tr><th style='width:80%;'>Nombre</th><th>Tama&ntilde;o</th><th>Modificado</th><th>Descarga</th></tr></thead>
	<tfoot><tr><th>Total</th><td colspan="4">0 archivos</td></tr></tfoot>
	<tbody>
		<tr><th>qqqq</th><td>qwqw</td><td>qq</td><td>qqqqqqqq</td></tr>
		<tr class="odd"><th>llll</th><td>llllll</td><td>USA</td><td>lllll</td></tr>
	</tbody>
	</table>
	</div>	

	</div>
</section>
{% endblock %}