{% extends '::frontend.html.twig' %}
{% block title %}home {% endblock %}
{% block article %}
<section>

<center><img src="{{ asset('bundles/usuario/images/imagen_portada.png') }}"></center>
<p>a</p>
</section>
{% endblock %}