{% extends '::frontend.html.twig' %}
{% block title %}Links {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
	<div id="itsthetable">
	<table><caption></caption>
	<thead><tr><th style='width:80%;'>Archivo</th><th>Tama&ntilde;o</th><th>Modificado</th><th>Link</th></tr></thead>
	<tfoot><tr><th>Total</th><td colspan="4">0 links</td></tr></tfoot>
	<tbody>
		<tr><th>qqqq</th><td>qwqw</td><td>qq</td><td>qqqqqqqq</td></tr>
		<tr class="odd"><th>llll</th><td>llllll</td><td>USA</td><td>lllll</td></tr>
	</tbody>
	</table>
	</div>	

	</div>
</section>
{% endblock %}