{% extends '::backend.html.twig' %}
{% block title %}Estadisticas {% endblock %}

{% block article %}
<section>
	<h1>{{ block('title') }}</h1>
		<table class='form'>
		<tbody>
			<tr>
				<td style='width:150px'>Usuarios Registrados</td>
				<td></td>
			</tr>
			<tr>
				<td>Usuarios Conectados</td>
				<td></td>
			</tr>
			<tr>
				<td>Total Archivos</td>
				<td></td>
			</tr>
			<tr>
				<td>Tama&ntilde;o Total Archivos</td>
				<td></td>
			</tr>
			<tr>
				<td>Espacio en Disco</td>
				<td></td>
			</tr>
			<tr>
				<td>Links</td>
				<td></td>
			</tr>
			<tr>
				<td>Total Descargas</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</div>
		</tbody>
		</table><br>
		<td><input class="boton" type="submit" value="Guardar cambios" /></td>
		<br>
		
	</form>
</section>
{% endblock %}