{% extends '::site.html.twig' %}

{% block title %}Ayuda{% endblock %}


{% block article %}
	<section>
    <h2>Preguntas Frecuentes FAQ</h2>
    <br>
	<h1>Que es eCloud?</h1>
    <p>Es un servidor de descargas de codigo libre programado con Symfony2, un framework de PHP.</p>
	<br>
    <h1>Que tipo de archivos puedo subir?</h1>
    <p>Todo tipo de archivos, ya que se suben a tu servidor personal.</p>
	<br>
    <h1>Es seguro?</h1>
    <p>Totalmente</p>
	</section>
{% endblock %}
