{% extends '::frontend.html.twig' %}

{% block title %}Contacto{% endblock %}


{% block article %}
	<section>
    <h1>Contactar con nosotros</h1>

    <p>Direcci&oacute;n de correo: ecloud@gmail.com</p>
	<p>Localizaci&oacute;n: Valencia, Espa&ntilde;a.</p>


	</section>
{% endblock %}
