{% extends '::frontend.html.twig' %}
{% block title %}home {% endblock %}
{% block article %}
<section>

<div style='position:fixed;left:350px;top:120px'>
<h1><a href="{{ path('registro') }}">Registrarse en eCloud</a></h1>
Registrate en eCloud para obtener una cuenta con 500 MB para subir lo que tu quieras.
</div>
</section>
{% endblock %}