{% extends '::frontend.html.twig' %}

{% block title %}Privacidad{% endblock %}


{% block article %}
	<section>
    <h1>Privacidad</h1>

    <p>Sus datos se encuentran en su servidor, y el codigo de eCloud est&aacute; competamente libre de errores. Pero recuerde no compartir archivos con Copyright al p&uacute;blico.</p>

	</section>
{% endblock %}
