{% extends '::frontend.html.twig' %}

{% block title %}Sobre nosotros{% endblock %}


{% block article %}
	<section>
    <h1>Sobre nosotros</h1>

    <p>Que es eCloud?</p>

    <p>Somos una empresa que nos dedicamos a ... </p>


	</section>
{% endblock %}
