body {
    background-color:rgb(238, 238, 238);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

.center
{
margin:auto;
width:40%;
}

/* --------------- BOTONES --------------- */

.button, .button:visited { /* botones genéricos */
background: #222 url(http://sites.google.com/site/zavaletaster/Home/overlay.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #FFF;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor:pointer;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: none;
}

.button:hover { /* el efecto hover */
background-color: #111
color: #FFF;
}

.button:active{ /* el efecto click */
top: 1px;
}

/* botones pequeños */
.small.button, .small.button:visited {
font-size: 11px ;
}

/* botones medianos */
.button, .button:visited,.medium.button, .medium.button:visited {
font-size: 13px;
font-weight: bold;
line-height: 1;
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

/* botones grandes */
.large.button, .large.button:visited {
font-size:14px;
padding: 8px 14px 9px;
}

/* botones extra grandes */
.super.button, .super.button:visited {
font-size: 34px;
padding: 8px 14px 9px;
}

.pink.button { background-color: #E22092; }
.pink.button:hover{ background-color: #C81E82; }

.green.button, .green.button:visited { background-color: #91BD09; }
.green.button:hover{ background-color: #749A02; }

.red.button, .red.button:visited { background-color: #E62727; }
.red.button:hover{ background-color: #CF2525; }

.orange.button, .orange.button:visited { background-color: #FF5C00; }
.orange.button:hover{ background-color: #D45500; }

.blue.button, .blue.button:visited { background-color: #2981E4; }
.blue.button:hover{ background-color: #2575CF; }

.yellow.button, .yellow.button:visited { background-color: #FFB515; }
.yellow.button:hover{ background-color: #FC9200; }

.grey.button, .grey.button:visited { background-color: #bbb; }
.grey.button:hover{ background-color: #888; }





/*        */
/* TABLAS */
/*        */
		/* Tabla en css de http://icant.co.uk/csstablegallery/tables/37.php */ 

.tabla table { width:80%;border-collapse: collapse;border: 2px solid #AAA;font: normal 80%/140% arial, helvetica, sans-serif;color: #555;background: rgb(245, 245, 245);
}

.tabla td, .tabla th {border: 1px dotted #bbb;padding: .5em;}

.tabla caption {padding: 0 0 .5em 0;text-align: left;font-size: 1.4em;font-weight: bold;text-transform: uppercase;color: #333;background: transparent;}

/* =links
----------------------------------------------- */

.tabla table a {padding: 1px;text-decoration: none;font-weight: bold;background: transparent;}

.tabla table a:link {border-bottom: 1px dashed #ddd;color: #000;}

.tabla table a:visited {border-bottom: 1px dashed #ccc;text-decoration: line-through;color: #808080;}

.tabla table a:hover {border-bottom: 1px dashed #bbb;color: #666;}

/* =head =foot
----------------------------------------------- */

.tabla thead th, .tabla tfoot th {border: 2px solid #999;text-align: left;font-size: 1.2em;font-weight: bold;color: #666;background: transparent;}

.tabla tfoot td {border: 2px solid #999;}

/* =body
----------------------------------------------- */

.tabla tbody th, .tabla tbody td {vertical-align: top;text-align: left;}

.tabla tbody th {white-space: nowrap;}

.odd {background: #fcfcfc;}

.tabla tbody tr:hover {background: #fafafa;}
/* 
Plantilla  Tabla
<div id="itsthetable">
	<table><caption>Table designs</caption>
	<thead><tr><th>Design Name</th><th>Author</th><th>Country</th><th>Comment</th><th>Download</th></tr></thead>
	<tfoot><tr><th>Total</th><td colspan="4">67 designs</td></tr></tfoot>
	<tbody>
		<tr><th>qqqq</th><td>qwqw</td><td>qq</td><td>qqqqqqqq</td><td>fgh</td></tr>
		<tr class="odd"><th>llll</th><td>llllll</td><td>USA</td><td>lllll.</td><td>lllll</td></tr>
	</tbody>
	</table>
</div>
*/
.dialogo {width:200px;height:400px;}
