/* #Estructura */
html,body {
	margin: 0;
	padding:0;
	height: 100%;
}
#container {
		   min-height:100%;
		   position:relative;
		}
.header_in{
	height: 49px;line-height: 2.5em;background:linear-gradient(rgb(17, 149, 220), rgb(11, 126, 189)) repeat scroll 0% 0% transparent;
}
.header_out{
	height: 49px;line-height: 2.5em;background:linear-gradient(rgba(17, 149, 220, 0.7), rgba(15, 137, 204, 0.85), rgba(11, 126, 189, 0.9)) repeat scroll 0% 0% transparent;
}
.article_in {
    min-height: 400px;
	margin:0% 0% 0% 0%;
	padding: 0 1% 49px 1%;
	height:85%;
	overflow:auto;
}
.article_out {
	position:relative;
	padding: 0px 10% 40px 10%;
}

.footer_in{
	position:absolute;bottom:0;width:100%;z-index: 100;height: 40px;line-height: 2.5em;background:linear-gradient(rgb(17, 149, 220), rgb(11, 126, 189)) repeat scroll 0% 0% transparent;
	text-align: center;color:#DDDDDD;
}
.footer_out{
	position:absolute;bottom:0;width:100%;z-index: 100;height: 40px;line-height: 2.5em;background:linear-gradient(rgba(17, 149, 220, 0.7), rgba(15, 137, 204, 0.85), rgba(11, 126, 189, 0.9)) repeat scroll 0% 0% transparent;
	text-align: center;color:#DDDDDD;
}
a.footer_links:link {color:#DDDDDD;}
a.footer_links:active {color:#DDDDDD;}
a.footer_links:visited {color:#CCCCCC;}
.login_box{float:right;margin-right:5px;}
.bgbox { position:fixed;left:34%;top:20%;opacity:0.03;filter:alpha(opacity=10);z-index:-1; }
.caja_ficheros { position:fixed; width:80%;height:100%;background:rgb(245, 245, 245);}
#login_page {margin:0% 20% 5% 20%;border:1px solid #CCC;min-height:15em;}
#login_page h1 {margin-left:4%;}
#login_form {padding:4% 10% 4% 15%;}
#error_login{padding:5px;margin-left:5%;margin-right:5%;background-color:#FFEBE8;border:1px solid #DD3C10;}

nav{
float:left;width:150px;margin:7% 0% 0% 0%;padding:0% 0% 0% 0%;background:linear-gradient(rgba(100, 100, 100,0.1), rgba(100, 100, 100,0.1), rgba(200, 200, 200,0.05));border-style:solid;border-width:1px;border-color:#CCCCCC;
}
nav ul {
    list-style: none;
	padding:0;
}
nav ul li a{ display:block;padding:0 0 0 20%;color:#111111;text-decoration:none; }
nav ul li a:hover{ color:#888888; background:linear-gradient(rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.1), rgba(100, 100, 100, 0.1));}

.form{

background-color:transparent;
border:none;
border-left:1px dotted #bbb;

}
.form td { border:none;}

.div_amagado  {
float:left;
width: 500px
heigh: 500px;
position:fixed;
top:75px;
left:40%;
display:none;
}
.div_amagado2  {
position:fixed;
top:75px;
left:30%;
margin: 0 auto 0 auto;
width: 850px;
height:70px;
}

progress[value] {
/* Eliminamos la apariencia por defecto */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;

/* Quitamos el borde que aparece en Firefox */
border: none;

/* Aplicamos las dimensiones */
width: 300px;
height: 18px;

/* Aplicamos color a la barra */
color: rgb(17, 149, 220);
}

/* Compatibilidad de color en Firefox */
progress::-moz-progress-bar { background: rgb(17, 149, 220); }

/* Chrome/opera/safari */
progress::-webkit-progress-value { background: rgb(17, 149, 220); }
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
